*{
    margin: 0;
    padding: 0;
}

.titulo-da-pagina{
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--cor-titulo);
}

#data_exibicao{
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--cor-titulo);
}

img{
    width: 40px;
}

.imagens_invisiveis{
    display: none;
}


.navbar-brand{
    font-size: 20px;
}

.card-img-left{
    width: 100px;
    height: 100px;
    
}

#chevron i{
    font-size: 2rem;
}


.d-flex{
    align-items: center;
}
