@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Montserrat;
    box-sizing: border-box;

}

body{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    color: gold;
    font-family: lato;
    font-size: 1.8rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 9%; /* resolve um bug de desalinhamento*/
    top: 0;
    left: 0;


}
nav a{
    color: rgb(255, 255, 255);
    margin-left: 20px;
    
}

nav a:hover{
    color: gray
}

button{
    color: black;
    border-radius: 15px;
    background-color: gold;
    width: 150px;
    padding: 10px 10px;
    height: 50px;

}



.ativo{
    color: gold;
}


.home{
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}


section{
    padding: 5rem 9%;
}

.servicos_container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.servicos{
    margin: 20px
}

h2{
    text-align: center;
}

h3{
    background-color: rgb(23, 23, 23);
    height: 150px;
    width: 300px;
    border-radius: 25px;
    color: rgb(194, 194, 194);
    text-align: center;
    padding: 24px 20px;
    
}

footer{
    background-color: rgb(15, 15, 15);
    text-align: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer p{
      color: rgb(255, 255, 255);
}


.fa-github{
    color: rgb(255, 255, 255);
    border-radius: 25px;
}

.redes-sociais{
    font-size: 2rem;
}


li{
    text-align: center;
    list-style: none;
}

.sem-agendamento{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}