<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci a senha</title>
</head>
<body>
    <h2>Esqueci minha senha</h2>
        <p>Esqueceu sua senha? Não se preocupe! Digite seu e-mail ou nome de usuário cadastrado abaixo. 
            Enviaremos um link de recuperação com instruções para você criar uma nova senha.
        </p>
            <form action="#" method="POST">   
                <div class="form-group">
                    <label for="email">Email ou Nome de usuário</label>        
                    <input type="text" id="email" name="email" required> <!--Não é email o type-->
                </div> 
                <button type="submit">Enviar link de recuperação</button>
            </form>
        <p><a href="login.html">Voltar ao login</a></p>
</body>
</html>