{% load static %}

<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">

<link rel="stylesheet" href="{% static 'css/estilo.css' %}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">

<title>Histórico de Agendamentos | Barber Grid</title>


</head>

<body class="bg-body text-body">


<div class="imagens_invisiveis">

    <img class="imagem_logotipo_escuro" src="{% static 'images/logo_tema_escuro.png' %}">

    <img class="imagem_logotipo_claro" src="{% static 'images/logo_tema_claro.png' %}">

</div>


<nav class="text-center">

    <img id="imagem_logotipo" src="{% static 'images/logo_tema_escuro.png' %}">

    <a class="navbar-brand" href="{% url 'setup' %}">
        Barber Grid
    </a>

    <a class="text-center">Alpha</a>

</nav>


<div class="container">

    <div class="d-flex">

        <a href="{% url 'pagina_servicos' %}">
            <i class="bi bi-chevron-left"></i>
        </a>

        <div class="m-3">
            <h5>Histórico de agendamentos</h5>
        </div>

    </div>

    <hr>

    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}

    <h5>Agendamentos</h5>


    {% for agendamento in agendamentos %}

    <div class="py-2"></div>

    <div class="card">

        <div class="card-img m-3 d-flex">

            <div class="d-flex">

                <div>

                    <div class="card-body w-100 text-left">

                        <h5 class="card-title">
                            {{ agendamento.servico.nome_servico }}
                        </h5>

                        <p class="card-text">
                            Data: {{ agendamento.data }}
                        </p>

                        <p class="card-text">
                            Horário: {{ agendamento.horario }}
                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

    {% empty %}

    <div class="py-2"></div>

    <div class="card">

        <div class="card-body">

            <h5 class="card-title">
                Nenhum agendamento encontrado
            </h5>

            <p class="card-text">
                Seus agendamentos aparecerão aqui.
            </p>

        </div>

    </div>

    {% endfor %}

</div>


<script>

    const temaEscuro = window.matchMedia('(prefers-color-scheme: dark)');

    function aplicarTema(escuro) {

        document.documentElement.setAttribute(
            "data-bs-theme",
            escuro ? "dark" : "light",
        );

    }

    aplicarTema(temaEscuro.matches);

    temaEscuro.addEventListener("change", (evento) => {
        aplicarTema(evento.matches);
    });

</script>

</body>

</html>
