{% extends "barber_grid/base.html" %}
    {% block content %}
      <section class="home">
            <h1>Estilo e Tradição em cada corte</h1>
            <p>A melhor experiência de barbearia</p>
            <br>
            <button>Agendar horário</button>
     </section>
      <h2>Nossos serviços</h2>
     <section class="serviços">
        <div class="servicos_container">
            <h3>Corte Social R$ 20</h3>
            <h3>Barba Completa R$ 25</h3>
            <h3>Degradê Disfarçado R$ 20</h3>
            <h3>Combo R$ 50</h3>
        </div>
      </section>
       {% endblock content %}

  