{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static/estilo.css %}">
    <title>Página Inicial</title>
</head>
<body>
         <a href="#" class="logo">Logo</a>
    <nav>
         <a href="#" class="ativo">Início</a>
         <a href="#" class="ativo">Agendamento</a>
         <a href="#" class="ativo">Contato</a>
    </nav>
    <section class="home">
        <h1>Estilo e Tradição em cada corte</h3>
        <p>A melhor experiência de barbearia de São Paulo do Potengi</p>
        <p>Agendar horário</p>
    </section>
    <div class="servicos">
        <h2>Nossos serviços</h2>
        <h3>Corte Social R$ 20</h3>
        <h3>Barba Completa</h3>
        <h3>Degradê Disfarçado R$ 20</h3>
        <h3>Combo R$ 50</h3>
    </div>
</body>
</html>