{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <form method="POST" action="#">
        {% csrf_token %}    
        <h2>Login</h2>
        <div class="form-group">
            <label for="email">Email: </label>
            <input type="email" name="email" id="email">
        </div>
        <div class="form-group">
            <label for="senha">Senha: </label>
            <input type="password" name="senha" id="senha">
        </div>
        <button>Enviar</button>

        <a href="{% url 'registro' %}">Criar uma conta</a>
    </form>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>