{% extends 'barber_grid/base.html' %}

{% block title %}Serviços | Barber Grid{% endblock %}

{% block content %}

<div class="my-4 container">

    <h2 class="mb-4">
        Qual serviço?
    </h2>

    <div class="g-4 row row-cols-lg-3 row-cols-md-2 row-cols-1">

        {% for servico in servicos %}

            <div class="col">

                <a class="h-100 text-decoration-none card"
                   href="{% url 'agendamento' servico.id %}">

                    <div class="text-center bg-body-tertiary py-4">

                        {% if servico.imagem %}

                            <img
                                src="{{ servico.imagem.url }}"
                                alt="{{ servico.nome_servico }}"
                                class="w-100"
                                style="height: 240px; object-fit: cover;"
                            >

                        {% else %}

                            <i class="bi bi-scissors display-4 text-secondary"></i>

                        {% endif %}

                    </div>

                    <div class="card-body">

                        <div class="card-title h5">
                            {{ servico.nome_servico }}
                        </div>

                        <p class="text-secondary card-text">
                            Serviço de barbearia.
                        </p>

                    </div>

                    <div class="d-flex justify-content-between card-footer">

                        <span>
                            <i class="bi bi-clock"></i>
                            {{ servico.duracao_minutos }} min
                        </span>

                        <strong>
                            R$ {{ servico.preco }}
                        </strong>

                    </div>

                </a>

            </div>

        {% empty %}

            <div class="col-12">

                <div class="alert alert-info">
                    Nenhum serviço disponível no momento.
                </div>

            </div>

        {% endfor %}

    </div>

</div>

{% endblock %}