
{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
<h2>Criar conta</h2>

<form method="POST">
    {% csrf_token %}

    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" name="nome_usuario" id="nome_usuario" required>
    </div>

    <div class="form-group">
        <label for="telefone">Telefone:</label>
        <input type="tel" name="telefone" id="telefone" required>
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
    </div>

    <div class="form-group">
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha" required>
    </div>

    <div class="form-group">
        <label for="confirmar_senha">Confirmar senha:</label>
        <input type="password" name="confirmar_senha" id="confirmar_senha" required>
    </div>

    <button type="submit">Cadastrar</button>
</form>
<script src="{% static 'js/script.js' %}"></script>

<a href="{% url 'login' %}">Já tenho uma conta</a>